body {
    background: rgb(251,201,38);
    background: radial-gradient(circle, rgba(251,201,38,1) 0%, rgba(65,36,86,1) 75%);
}

#testimonialCarousel {
    margin-left: 35%;
    margin-right: 25%;
}

.carousel-inner {
   width: 75%;
   height: 100%;
}

.carousel-item {
    transition: 2.5s ease-in-out;
}


.card {
    border-color: rgba(251,201,38,1);
}


.general > .card-header {
    background: #412456;
}

.specific > .card-header {
    background: #632555;
}

.forecast > .card-header {
    background: #64296e;
}

.bundle > .card-header {
    background: #3e296e ;
}

.subs > .card-header {
    background: #272563;
}


.card-header {
    font-size: 14px;
    font-family: aviano-flare, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(251,201,38,0.8);
    
}


.card h5 {
    font-size: 14px;
}

.card h6 {
    font-size: 12px;
}

.card p {
    font-size: 10px;
}

.card-body {
    margin: 0;
    padding: 0;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 82.75%;
    width: 100;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgb(65,36,86);
}

.card-body:hover .overlay {
    opacity: 1;
}   

.card-title {
    position: absolute;
    top: 5%;
    left: 10%;
    color: rgb(251,201,38);  
}

.card-subtitle {
    position: absolute;
    top: 15.5%;
    left: 10%;
}

.card-price {
    position: absolute;
    top: 20%;
    left: 10%;
    color: rgb(251,201,38);
}


.card-text {
    color: rgb(251,201,38);
    position: absolute;
    top: 35%;
    left: 10%;
    /* transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
}




.card-footer {
    display: flex;
    justify-content: center;
    font-size: 14px;
    background-color: rgba(65, 36, 86, 0.75);
    
    
}

.card-footer > button {
    border: thin solid rgb(65,36,86);
    border-radius: 5px 15px;
    padding: 5px;
    background-color: rgba(65, 36, 86, 0);
    color: #fbc926;
}

.card-footer > button:hover {
    box-shadow: 0px 0px 15px rgba(251,201,38,0.8);
    color: #412456;
}

