body {
    background: #412456;
}


header {
    min-width: 100vw;
    background-color: #412456;
    box-shadow: 0px 0px 2rem rgba(251, 201, 38, 0.5);
  }
  
  .nav-link {
    font-family: aviano-flare, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(251, 201, 38, 0.5);
  }
  
  .navbar a {
    font-family: aviano-flare, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(251, 201, 38, 0.5);
  }
  
  body.hasHover .nav-link:hover {
    color:rgba(188, 131, 228, 0.3);
    
  }
  
  body.hasHover .navbar a:hover{
    color:rgba(188, 131, 228, 0.3);
  }
  
  .navbar-brand {
    width: 50%;
  }
  
  .navbar-brand img {
    width: 20%;
    height: 20%
  }
  
  
  
  .navbar-toggler {
    margin-right: 1.5rem;
  }
  

#mainContainer {
    display: flex;
    flex-direction: column;
}

#cardContainer {
    margin-top: 2rem;
}

#instructions {
    width: 100%;
}

#tokenCont {
    width: 100%;
}

.card {
   
    margin-bottom: 1.2rem;
    border-color: rgba(251, 201, 38, 1)
}

#hiw {
    width: 100%;
}

#atc {
    width: 100%;
}

.card-header {
    text-align: center;
    font-family: aviano-flare, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: rgba(251, 201, 38, 0.5);
    font-size: 1.2rem;
    background-color: rgba(65, 36, 86,.75);  
}

.card-header a {
    color: rgba(251, 201, 38,0.5);
}

.card-header h6 {
    padding-top: 0.5rem;
}

.card-body {
    background-color: rgba(65, 36, 86, 0.5);
}

.card-body h6 {
    color: rgb(65, 36, 86);
    padding-top: 0.25em;
    font-size: 1.4rem;
}

.card-text {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(65, 36, 86);
    font-size: 1.4rem;
    line-height: 1.2;
}

hr {
    background-color: rgb(65, 36, 86)
}



.tokens {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.tokens button {  

    height: 5rem ;
    width: 5rem;
    border-radius: 75%;
    border: medium solid #412456;
    background-color: rgba(65, 36, 86, 0.5);
    color: rgba(251, 201, 38,0.5);
    font-size: 1.1rem;
}

body.hasHover .tokens button:hover {
    box-shadow: 0px 0px 2.5rem rgba(251,201,38, 0.5);
    color: rgb(111, 50, 155);
}

 #gameBoard {
    width: 100%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

#gameReveal {
    width: 95%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    outline-style: inset;
    outline-color: rgba(251,201,38, 0.5);
   
} 

.cardDrawn {
    display: flex;
    justify-content: center;
    align-self: center;
    
}

.cardDrawnName p {
    height: 10%;
    width: 100%;
    font-family: aviano-flare, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: rgba(251, 201, 38, 0.5);
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1.6rem;
    text-align: center;
}



.cardDrawnImage img {
    outline-style: inset;
    outline-color: rgba(251, 201, 38, 0.5);
    border: medium solid rgb(65,36,86);
    box-shadow: 0 0 2.5rem rgba(204, 159, 236, 0.5);
    width: 80%;
    height: 50%;
}
.cardResponse {
    width: 100%;
    
    
}
.cardResponse p {
    padding-top: 5%;
   padding-bottom: 2.5%;
   margin-bottom: 0;
    font-family: aviano-flare, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: rgba(251, 201, 38, 0.5);
}

.cardMessage {
    width: 100%;
    text-align: center;
}

.cardMessage p {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    color: rgba(251, 201, 38, 0.5);
}




#gameBtn {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 90%;
    margin-top: 7.5%;
    visibility: hidden;

}

#gameBtn button {
    background: none;
    color: rgba(251, 201, 38, 0.5);
    border: thin solid rgb(251, 201, 38);
    border-radius: 5px 15px;
    font-family: aviano-flare, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  
 
  
body.hasHover  #gameBtn button:hover {
    box-shadow: 0px 0px 2.5rem rgba(251, 201, 38, 0.8);
    color: rgb(111, 50, 155);
  }

 
footer {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    min-width: 100vw !important;
    position: relative;
    bottom: 0 !important;
    left: 0;
    /* height: 50px; */
    margin: 0px;
    padding: 0px;
    padding-bottom: 1rem;
    margin-top: 0%;
    background-color: rgb(65, 36, 86);
    color: rgb(251, 201, 38, 0.5);
    box-shadow: 0px 0px 2rem rgba(251, 201, 38, 0.5);
  }
  
  footer hr {
    background-color: rgba(251, 201, 38, 0.5);
    margin-top: 0px;
    margin-bottom:0.75rem;
  }
  
  #mandatories {
    min-width: 100vw;
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 0.2rem; 
    display: flex;
    flex-direction:row;
    align-items: center; 
    flex-wrap: nowrap;
  }
  
  #copyRight {
    min-width: 100vw;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  #siteCreds {
    min-width: 100vw;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  .foot-col {
    flex-grow: 1;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }

  .foot-col p {
    color: rgba(251, 201, 38, 0.5);
    line-height: 1rem;
    font-size: 0.9rem;
  }

  .foot-col a {
    color: rgba(251, 201, 38, 0.5);
    text-decoration: underline;
    line-height: 1rem;
    font-size: 0.9rem;
  }
  
  #mandatories a {
    font-size: 0.9rem;
    text-decoration: underline;
  }
  
  #mandatories .btn {
    font-size: 0.9rem;
    padding-top: 0.3rem;
    color: rgba(251, 201, 38, 0.5);
    text-decoration: underline;
  }
  
  #mandatories p {
    font-size: 0.9rem;
  }

  .modal {
    border-color: rgba(251, 201, 38, 0.5);
    margin-top: 2rem;
    align-self: center;
     
  }

  .modal-header {
    color: rgba(251, 201, 38, 0.5);
    background-color: #412456;
    font-family: aviano-flare, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .modal-body {
    background-color: rgba(65,36,86,0.3);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-height: 50vh;
    overflow-y: auto;  
  }

  .modal-footer {
    background-color: #412456;
  }

  .modal-footer > button {
    border: thin solid rgba(251, 201, 38, 0.5);
    border-radius: 1rem 3rem;
    width: 30%;
    color: rgba(251, 201, 38, 0.5);
    background-color: rgba(65,36,86,0.3);
  }
  
.modal-footer > button:hover {
    box-shadow: 0 0 2.5rem rgba(251, 201, 38, 0.5);
}



  @media screen and (min-width: 699px) {

    html {
        font-size: 70%;
    }

    .navbar-brand > img {
        width: 15%;
        height: 15;
    }


    #cardContainer {
        margin-top: 2em;
        display: flex;
        justify-content: space-around;
    }

    #instructions {
        width: 45%;
    }
    
    #tokenCont {
        width: 45%;
    } 

     .cardDrawnName p {
        font-size: 1.5em;
    }

    .cardResponse p {
        font-size: 1.5em;
    }

    .cardMessage p {
        font-size: 1.5em;
    }

    #gameBtn {
        margin-top: 5%;
    }

  }

  @media screen and (min-width: 1024px) {

    body {
        min-height: 100vh;
    }

    .navbar-nav {
        width: 100%;
        padding-left: 35%;
      }

    .card-header h6 {
        font-size: 1.6rem;
    } 

    .card-text p {
        font-size: 1.4rem;
    }

    footer {
        position: sticky;
    }

  }

  @media screen and (min-width: 1280px) {

    .navbar-brand img {
        width: 15%;
        height: 15%;
        padding-left: 2.5%;
    }

    .navbar-brand {
        font-size: 1.5rem;
    }

    .navbar-nav {
        padding-left: 20%;
    }

    .nav-link {
        font-size: 1.5rem;
    }
    
    #mainContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: 2rem;
    }
    
    #cardContainer {
          min-width: 55%;
          padding-left: 1rem;
          padding-right: 1rem;
      }

    #instructions {
        width: 47.5%;
        padding-left: 0;
        padding-right: 0;
    }  

    #tokenCont {
        width: 47.5%;
        padding-left: 0;
        padding-right: 0;
    }

      #game-board {
          min-width: 30%;
      }

      #game-reveal {
          min-width: 50%;
      }

  }