body {
    background: #412456;
}

#mainContainer {
    display: flex;
    flex-direction: column;
}

#cardContainer {
    margin-top: 2rem;
}

#instructions {
    width: 100%;
}

#tokenCont {
    width: 100%;
}

.card {
   
    margin-bottom: 1.2rem;
    border-color: rgba(251, 201, 38, 1)
}

#hiw {
    width: 100%;
}

#atc {
    width: 100%;
}

.card-header {
    text-align: center;
    font-family: aviano-flare, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: rgba(251, 201, 38, 0.5);
    font-size: 1.2rem;
    background-color: rgba(65, 36, 86,.75);  
}

.card-header a {
    color: rgba(251, 201, 38,0.5);
}

.card-header h6 {
    padding-top: 0.5rem;
}

.card-body {
    background-color: rgba(65, 36, 86, 0.5);
}

.card-body h6 {
    color: rgb(65, 36, 86);
    padding-top: 0.25em;
    font-size: 1.4rem;
}

.card-text {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(65, 36, 86);
    font-size: 1.4rem;
    line-height: 1.2;
}

hr {
    background-color: rgb(65, 36, 86)
}



.tokens {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.tokens button {  

    height: 5rem ;
    width: 5rem;
    border-radius: 75%;
    border: medium solid #412456;
    background-color: rgba(65, 36, 86, 0.5);
    color: rgba(251, 201, 38,0.5);
    font-size: 1.2rem;
}

.tokens button:hover {
    box-shadow: 0px 0px 2.5rem rgba(251,201,38, 0.5);
    color: rgb(111, 50, 155);
}

 #gameBoard {
    width: 100%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

#gameReveal {
    width: 95%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    outline-style: inset;
    outline-color: rgba(251,201,38, 0.5);
   
} 

.cardDrawn {
    display: flex;
    justify-content: center;
    align-self: center;
    
}

.cardDrawnName {
    height: 10%;
    width: 100%;
    font-family: aviano-flare, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: rgba(251, 201, 38, 0.5);
}

.cardDrawnName p {
    padding-top: 5%;
    padding-bottom: 5%;
}



.cardDrawnImage img {
    outline-style: inset;
    outline-color: rgba(251, 201, 38, 0.5);
    border: medium solid rgb(65,36,86);
    box-shadow: 0 0 2.5rem rgba(204, 159, 236, 0.5);
}
.cardResponse {
    width: 100%;
    
    
}
.cardResponse p {
    padding-top: 5%;
   padding-bottom: 2.5%;
   margin-bottom: 0;
    font-family: aviano-flare, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: rgba(251, 201, 38, 0.5);
}

.cardMessage {
    width: 100%;
    text-align: center;
}

.cardMessage p {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    color: rgba(251, 201, 38, 0.5);
}




#gameBtn {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 90%;
    margin-top: 7.5%;

}

#gameBtn button {
    background: none;
    color: rgba(251, 201, 38, 0.5);
    border: thin solid rgb(251, 201, 38);
    border-radius: 5px 15px;
    font-family: aviano-flare, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  
 
  
  #gameBtn button:hover {
    box-shadow: 0px 0px 2.5rem rgba(251, 201, 38, 0.8);
    color: rgb(111, 50, 155);
  }

  @media screen and (min-width: 768px) {

    #cardContainer {
        margin-top: 2em;
        display: flex;
        justify-content: space-around;
    }

    #instructions {
        width: 45%;
    }
    
    #tokenCont {
        width: 45%;
    } 

     .cardDrawnName p {
        font-size: 1.5em;
    }

    .cardResponse p {
        font-size: 1.5em;
    }

    .cardMessage p {
        font-size: 1.25em;
    }

    #gameBtn {
        margin-top: 5%;
    }

  }

  @media screen and (min-width: 992px) {

    .card-header h6 {
        font-size: 1.6rem;
    } 

    .card-text p {
        font-size: 1.4rem;
    }

  }