/*Small Phones*/

    body {
    background-image: url('./assets/attLPBkgrd.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    #landing {
        display: grid;   
        grid-template-columns: 10% 20% 20% 20% 20% 10%;
        grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
        grid-gap: 0rem;
        max-width: 100vw;
        margin: 0 auto;
    }
    .card {
        
        background-color: transparent;
        border: none;
        border-style: none;
    }
   
    #headline {
        grid-column-start: 2;
        grid-column-end: span 4;
        grid-row-start: 1;
        grid-row-end: span 3;
    }
    #carousel {
        grid-column-start: 2;
        grid-column-end: span 4;
        grid-row-start: 5;
        grid-row-end: span 2;
    }

    #tarot {
        grid-column-start: 2;
        grid-column-end: span 2;
        grid-row-start: 7;
        grid-row-end: span 2;
    }
    #yesorno {
        grid-column-start: 2;
        grid-column-end: span 2;
        grid-row-start: 9;
        grid-row-end: span 2;
    }
    #chakra {
        grid-column-start: 4;
        grid-column-end: span 2;
        grid-row-start: 7;
        grid-row-end: span 2;
    }
    #hdiw {
        grid-column-start: 4;
        grid-column-end: span 2;
        grid-row-start: 9;
        grid-row-end: span 2;
    }
   
    .card-title {
        color: rgba(65,36,86);
        text-align: center;
    }
    .lpcard {
        display: flex;
        flex-direction: column; 
    }
     .btn-card {
        width: 75%;
        height: 75%;
        border: thin solid #412456;
        border-radius: 2vw 1vw;
        background-color: rgba(65,36,86,0.3);
        padding: 1vw;
        align-self: center;
    }
    .btn-card img {
        width: 90%;
        height: 90%;
    }
    .centreCopy {
        text-align: center;
        color: #412456;
       
    }
    .centreCopy h2 ,h3{
      font-family: aviano-flare, sans-serif;
      font-weight: 400;
      font-style: normal;  
    }
    .centreCopy h2 {
      font-size: clamp(1.4rem, 1.25vw, 3.2rem);
    }
    .centreCopy h3 {
      font-size: clamp(1.2rem, 1.15vw, 3rem);
    }
    .centreCopy h4 {
      font-size: clamp(1.2rem, 1vw, 2.8rem);
    }
    .centreCopy h4 ,h5{
       font-weight: 600;
    }
   
    
    .centreCopy h5 {
    
      font-size: clamp(1.2rem, 1vw, 2.4rem);
    }
    .carousel-inner {
        width: 90%;
        margin: 0 auto;
       
    }
    .carousel p {
      font-weight: bold;
      text-align: center;
      padding-top: 1.5rem;
      font-size: clamp(1.4rem, 1vw, 2.4rem);
    }
    .card-title {
        font-size: clamp(1.2rem, 1.25vw, 2.4rem);
      
    }

 @media (min-width: 767px)
    {


    .carousel-inner {
        width: 75%;
        margin: 0 auto;
        padding-bottom: 5rem;
    }

    .carousel-inner p {
        padding-top: 0;
    }

    .lpcard {
        margin-top: 3rem;
    }

    .card-title {
        font-size: clamp(1.2rem, 1.5vw, 2.4rem);
      
    }
    
    .centreCopy h2 {
        padding-top: 1rem;
        font-size: 2rem;
    }
    .centreCopy h3 {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 2rem;
    }

    .centreCopy h4 {
        font-size: 1.6rem;
        padding: 1rem 5rem;
    }
    .centreCopy h5 {
        font-size: 1.4rem;
        padding: 0 5rem;
    }

    #carousel{
        margin-top: 0;
    }
    } 


@media (min-width: 992px) 
 {

    .wrapper {
        margin: 0 5vw;
    }

    #landing {
       
        grid-template-columns: 12.5% 12.5% 50% 12.5% 12.5%;
        grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
        grid-gap: 0rem;
        max-width: 90vw;
        margin: 0 auto;
    }
    #headline {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: span 6;
    }

    #headline .card {
        max-width: 90%
    }

    .centreCopy h2 {
        padding-top: 1rem;
        font-size: 2vw;
    }
    .centreCopy h3     {
        font-size: 1,85rem;
    }

    .centreCopy h4 {
        font-size: 1.65vw;
        padding: 0 5rem;
    }
    .centreCopy h5 {
        font-size: 1.4vw;
        padding: 0 5rem;
    }

    
    #carousel {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: span 4;
    }
    #tarot {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 3;
        grid-row-end: span 3;
    }
    #yesorno {
        grid-column-start: 4;
        grid-column-end: span 2;
        grid-row-start: 3;
        grid-row-end: span 3;
    }
    #chakra {
        grid-column-start: 4;
        grid-column-end: span 2;
        grid-row-start: 6;
        grid-row-end: span 3;
    }
    #hdiw {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 6;
        grid-row-end: span 3;
    }
   
    .carousel.slide.card-body {
        margin-top: 3rem;
    }

    .carousel-inner {
        width: 90%;
        margin: 0 auto;
    }
   .carousel p {
       font-size: 1.75vw;
   }
}
