
/*for screens up to 480 px*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  margin: 0%;
  padding: 0%;
  background-image: url("./assets/attLPBkgrd.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  width: 100%;
  padding: 0;
}

nav {
  width: 100vw;
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
}

.navbar {
  min-width: 100vw;
  /* height: 50px; */
  margin-top: 0.75em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  background-color: rgb(65, 36, 86);
  box-shadow: 0px 0px 15px rgba(251, 201, 38, 0.25);
}

.navbar-nav {
  margin-right: 25%;
  padding-right: 5%;
}

.navbar-nav a {
  font-family: aviano-flare, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(251, 201, 38, 0.5);
  margin-left: 5%;
 
}

.navbar-nav a:hover {
  color: rgb(111, 50, 155);
}

.navbar-brand img {
  margin-left: 5%;
  width: 35%;
  height: 35%;
}

.navbar-brand {
  font-size: 1em;
}

.navbar-brand:hover {
  color: rgb(111, 50, 155);
}

.navbar-brand {
  width: 45%;
  font-family: aviano-flare, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(246, 212, 100, 0.5);
}

.nav-item button {
  background: none;
  border: 0.5px solid rgba(251, 201, 38, 0.5);
  border-radius: 5px 15px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  padding: 0;
  font-size: 0.9em;
}

.nav-item button:hover {
  box-shadow: 0 0 15px rgba(251, 201, 38, 0.5);
  color: rgb(111, 50, 155);
}

#landingPanel {
  /* min-height: 80vh; */
  min-width: 100%;
  margin-right: 2%;
  margin-left: 2%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

#lhsPanel {
padding-bottom: 10%;
}



#lhsCardBtm {
  /* height: 20%; */
  width: 100%;
  /* background-color: rgba(65, 36, 86, 0.3); */
  /* border: thin solid rgb(65, 36, 86); */
  display: flex;
  flex-direction: column;
  
  }

#lhsCardTop {
  display: none;
}


.hdiwHeading {
  height: 20%;
  display: flex;
  justify-content: center;
  padding-top: 4%;
  font-family: aviano-flare, sans-serif;
  font-weight: 400;
  font-style: normal;
}


.hdiwHeading h6 {
  color: rgba(251, 201, 38, 0.5);
  font-size: 1em;
  align-self: center;
}

.hdiwImage {
  height: 80%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 5%;
  
}



.hdiwImage > button{
  width: 70%;
  height: 6em; 
  padding-bottom: 4%;
  border: thin solid rgba(251, 201, 38, 0.5);
  border-radius: 35px 15px;
  background: rgba(65, 36, 86, 0.25);
}

.hdiwImage > button:hover {
  box-shadow: 0px 0px 25px rgba(251, 201, 38, 0.8);
}

.hdiw {
  height: 6em;
}

#centralPanel {
  min-height: 40vh;
  width: 100%;
  font-family: aviano-flare, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(65, 36, 86);
  background-color: rgba(251, 201, 38, 0.2);
}

hr {
  background-color: rgb(65, 36, 86);
  margin-left: 5%;
  margin-right: 5%;
}

#centralPanel h1 {
  margin-top: 2%;
  font-size: 1.25rem;
}



#centralPanel h3 {
 font-size: 1.15em; 
 margin-left: 5%;
 margin-right: 5%;
}
  


#centralPanel h4 {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 200;
  line-height: 1.1;
  font-size: 1.25em;
  margin-left: 5%;
  margin-right:5%;
}

#centralPanel h5 {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 200;
  line-height: 1.1;
  font-size: 1.15em;
  margin-left: 5%;
  margin-right:5%;
}

#centralPanel p {
  font-family: futura-pt, sans-serif;
  font-style: bold;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.2;
  color: #412456;
  margin-left: 5%;
  margin-right: 5%;
}

.centerCopy {
  margin-bottom: 10%;
}

/* #headlineUSP {
  height: %;
  
} */

.carousel {
  margin: 0;
  margin-top: 0;
  padding: 0;
}




#testimonialCarousel h6 {
  text-align: start;
  color: #412456;
  font-size: 0.8em;
  margin-left: 5%;
  margin-right: 5%;
} 
 
.carousel-inner {
  width:90%;
  margin-left: 5%;
  
  /* height: 100%; */
}

.carousel-item {
  transition: 10s ease-in-out;
}


/* #rhsPanel {

} */

#rhsCardTop {
  /* height: 25%; */
  width: 100%;
  padding-top: 5%;
  
  /* background-color: rgba(65, 36, 86, 0.3);
  border: thin solid rgb(65, 36, 86); */
}

.focalChakraHeading {
  /* height: 20%; */
  display: flex;
  justify-content: center;
  padding-top: 3.5%;
  font-family: aviano-flare, sans-serif;
  font-weight: 400;
  font-style: normal;
}


.focalChakraHeading h6 {
  color: rgba(251, 201, 38, 0.5);
  font-size: 1em;
  align-self: center;
}

.focalChakraImage {
  /* height: 85%; */
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 3.5%;
}



.focalChakraImage > button{
  width: 70%;
  height: 6em;
  border: thin solid rgba(251, 201, 38, 0.5);
  border-radius: 15px 35px;
  background: rgba(65, 36, 86, 0.25);
  
}

.focalChakraImage > button:hover {
  box-shadow: 0px 0px 25px rgba(251, 201, 38, 0.8);
}

.chakra {
  height: 5em;
}


.modal {

  border: medium, solid, rgba(251, 201, 38, 0.5);
  opacity: 1;
}
.modal-header {
  font-family: aviano-flare, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(251,201,38, 0.5);
  background-color: rgb(65, 36, 86);
}

.modal-body {
  background-color: rgba(251, 201, 38, 0.3);
  color: rgba(65, 36, 86, 1);
  max-height: calc(100vh - 300px);
  overflow-y: auto;
}

.modal-body p {
  font-size: 0.9em;
}

.modal-open {
  overflow: hidden;
  overflow-y: scroll;
}

.modal-footer {
  background-color: rgb(65, 36, 86);
}

#modalBtn {

  border: thin solid rgb(251,201,38);
  background-color: rgba(65, 36,86, 0.5);
  width: 30%;
  border-radius: 5px 15px;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  color: rgba(251, 201, 38, 0.5);
}

article p {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  line-height: 1.2;
}


#rhsCardBtm {
  /* height: 75%; */
  width: 100%;
  margin-top: 15%;
  
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgba(251, 201, 38, 0.3);
  /* border: thin solid rgb(65, 36, 86); */
}

.yornHeader {
  
  font-family: aviano-flare, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(65, 36, 86);
  text-align: center;
  padding-top: 5%;
}

.yornHeader h6 {
  font-size: 1em;
}

.yornBody p {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  line-height: 1.5;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-bottom: 0;
  color: rgb(65, 36, 86);
}

#sampleYorN {
  display: flex;
  flex-direction: column;
}

#sampleYorN a {
  display: flex;
  justify-content: center;
}

#sampleYorNImg {
   width: 45%;
}

#sampleYorNText {
  text-align: center;
  font-family: futura-pt, sans-serif;
  font-weight: 200;
  font-style: oblique;
  color: rgb(65, 36, 86);
  font-size: 0.9em;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
}

#yornCTA {
  width: 100%;
  padding-top: 0%;
  padding-bottom: 5%;
 

}

#yornCTA button {
  /* height: 60%; */
  max-width: 70%;
  background: rgba(251, 201, 38, 0.25);
  border: thin solid rgb(65, 36, 86);
  border-radius: 10px 30px;
  padding: 0.25em;
}

#yornCTA button img {
  width: 40%;
}

#yornCTA button:hover {
  box-shadow: 0px 0px 25px rgba(65, 36, 86, 0.95);
}

footer {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9em;
  min-width: 100vw !important;
  position: relative;
  bottom: 0 !important;
  left: 0;
  /* height: 50px; */
  margin: 0px;
  padding: 0px;
  margin-top: 0%;
  background-color: rgb(65, 36, 86);
  color: rgb(251, 201, 38, 0.5);
  box-shadow: 0px 0px 15px rgba(251, 201, 38, 0.25);
}

footer hr {
  background-color: rgba(251, 201, 38, 0.5);
  margin-top: 0;
  margin-bottom:0.75em;
}

#mandatories {
  min-width: 100vw;
  margin-right: 0px;
  margin-left: 0px;
  padding-bottom: 0.2em;
  display: flex;
  flex-direction:row;
  align-items: center; 
  flex-wrap: nowrap;
 
}

#copyRight {
  min-width: 100vw;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 0.9em;
  line-height: 0.4;

}

#siteCreds {
  min-width: 100vw;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  font-size: 0.9em;
  line-height: 0.5;

}


.foot-col {
  flex-grow: 1;
  margin: 0px;
  padding: 0px;
  text-align: center;
 
}

#mandatories a {
  font-size: 0.9em;
  text-decoration: underline;

}

#mandatories .btn {
  font-size: 1em;
  padding-top: 3px;
  color: rgba(251, 201, 38, 0.5);
}

#mandatories p {
  font-size: 0.9em;
}



@media screen and (min-width: 768px){





  
}

@media screen and (min-width: 1900px) {

  #lhsCardTop {
    /* height: 70%; */
    min-width: 100%;
    background-color: rgba(251, 201, 38, 0.3);
  
  }
  
  .dailyCardHeader {
    font-family: aviano-flare, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(65, 36, 86);
    text-align: center;
  }
  
  .dailyCardHeader h6 {
    font-size: 16px;
  }
  
  .dailyCardHeader p {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    font-size: 16px;
    margin-bottom: 5px;
    padding-left: 1.25%;
    padding-right: 1.25%;
  }
  
  .dailyCardName {
    font-family: aviano-flare, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(65, 36, 86);
    text-align: center;
    margin-top: 10px;
  }
  
  .dailyCardName h5 {
    font-size: 16px;
    margin-bottom: 0px;
  }
  
  .dailyCardImage {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .dailyCardImage img {
    max-width: 55%;
    box-shadow: 0px 0px 35px rgba(65, 36, 86, 1);
  }
  
  .dailyCardMessage p {
    font-size: 16px;
    line-height: 1.2;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(65, 36, 86);
  }










}
/* #a {
  width: 20%;
  text-align: center;
}

#b {
  width: 20%;
  text-align: center;
}
#c {
  width: 20%;
  text-align: center;
}

#d {
  width: 20%;
  text-align: center;
}
#e {
  width: 20%;
  text-align: center;
} */
