* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background-image: url("./assets/AdobeStock_99358557_Preview.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

  margin: 0;
  padding: 0;
}

.header {
  width: 100vw;
  margin: 0;
  padding: 0;
}

nav {
  width: 100vw;
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
}

.navbar {
  width: 100vw;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  background-color: rgb(65, 36, 86);
  box-shadow: 0px 0px 15px rgba(251, 201, 38, 0.25);
}

.navbar-nav {
  margin-right: 5%;
}
.navbar-nav a {
  font-family: aviano-flare, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(251, 201, 38, 0.5);
}

.navbar-nav a:hover {
  color: rgb(111, 50, 155);
}

.navbar-brand img {
  margin-left: 20%;
}

.navbar-brand:hover {
  color: rgb(111, 50, 155);
}

.navbar-brand {
  font-family: aviano-flare, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(246, 212, 100, 0.5);
}

.nav-item button {
  background: none;
  border: 0.5px solid rgba(251, 201, 38, 0.5);
  border-radius: 5px 15px;
  margin-top: 2px;
  padding: 0;
  font-size: 12px;
}

.nav-item button:hover {
  box-shadow: 0 0 15px rgba(251, 201, 38, 0.5);
  color: rgb(111, 50, 155);
}

#landingPanel {
  min-height: 80vh;
  min-width: 100%;
  margin-right: 2%;
  margin-left: 2%;
}

#lhsPanel {
  min-height: 80vh;
  border: thin solid rgb(65, 36, 86);
  width: 20%;
}

#lhsCardTop {
  height: 70%;
  width: 100%;
  background-color: rgba(251, 201, 38, 0.3);
}

.dailyCardHeader {
  font-family: aviano-flare, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(65, 36, 86);
  text-align: center;
}

.dailyCardHeader h6 {
  font-size: 16px;
}

.dailyCardHeader p {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-bottom: 5px;
  padding-left: 1.25%;
  padding-right: 1.25%;
}

.dailyCardName {
  font-family: aviano-flare, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(65, 36, 86);
  text-align: center;
  margin-top: 10px;
}

.dailyCardName h5 {
  font-size: 16px;
  margin-bottom: 0px;
}

.dailyCardImage {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.dailyCardImage img {
  max-width: 55%;
  box-shadow: 0px 0px 35px rgba(65, 36, 86, 1);
}

.dailyCardMessage p {
  font-size: 16px;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(65, 36, 86);
}

#lhsCardBtm {
  height: 30%;
  width: 100%;
  background-color: rgba(65, 36, 86, 0.3);
}


.hdiwHeading {
  height: 20%;
  display: flex;
  justify-content: center;
  padding-top: 4%;
  font-family: aviano-flare, sans-serif;
  font-weight: 400;
  font-style: normal;
}


.hdiwHeading h6 {
  color: rgba(251, 201, 38, 0.5);
  font-size: 16px;
  align-self: center;
}

.hdiwImage {
  height: 80%;
  display: flex;
  justify-content: center;
  align-content: center;
  
}



.hdiwImage > button{
  width: 90%;
  height: 90%;
  border: thin solid rgba(251, 201, 38, 0.5);
  border-radius: 35px 15px;
  background: rgba(65, 36, 86, 0.25);
}

.hdiwImage > button:hover {
  box-shadow: 0px 0px 25px rgba(251, 201, 38, 0.8);
}

.hdiw {
  height: 90%;
}

#centralPanel {
  min-height: 80vh;
  width: 50%;
  font-family: aviano-flare, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgba(251, 201, 38, 0.5);
}

#centralPanel hr {
  background-color: rgba(251, 201, 38, 0.5);
}

#centralPanel h1 {
  margin-top: 10%;
  font-size: 24px;
}

#centralPanel h2 {
  font-size: 20px;
}

#centralPanel p {
  font-size: 14px;
}

.centerCopy {
  margin-bottom: 10%;
}

.carousel {
  margin: 0;
  padding: 0;
}

#testimonialCarousel {
  margin-left: 20%;
  
}

.carousel-inner {
  width:80%;
  /* height: 100%; */
}

.carousel-item{
  transition: 10s ease-in-out;
}


#rhsPanel {
  min-height: 80vh;
  width: 20%;
  border: thin solid rgb(65, 36, 86);
  
}

#rhsCardTop {
  height: 25%;
  width: 100%;
  background-color: rgba(65, 36, 86, 0.3);
}

.focalChakraHeading {
  height: 15%;
  display: flex;
  justify-content: center;
  padding-top: 2%;
  font-family: aviano-flare, sans-serif;
  font-weight: 400;
  font-style: normal;
}


.focalChakraHeading h6 {
  color: rgba(251, 201, 38, 0.5);
  font-size: 16px;
  align-self: center;
}

.focalChakraImage {
  height: 85%;
  display: flex;
  justify-content: center;
  align-content: center;
  
}



.focalChakraImage > button{
  width: 90%;
  height: 90%;
  border: thin solid rgba(251, 201, 38, 0.5);
  border-radius: 15px 35px;
  background: rgba(65, 36, 86, 0.25);
}

.focalChakraImage > button:hover {
  box-shadow: 0px 0px 25px rgba(251, 201, 38, 0.8);
}

.chakra {
  height: 90%;
}


.modal {
  border: 5px solid black;
  background: none;
  opacity: 0.8;
}
.modal-header {
  font-family: aviano-flare, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(251,201,38);
  background-color: rgb(65, 36, 86);
}

.modal-body {
  background-color: rgba(251, 201, 38, 0.3);
  color: rgba(65, 36, 86, 1);
}

.modal-footer {
  background-color: rgb(65, 36, 86);
}

#modalBtn {

  border: thin solid rgb(251,201,38);
  background-color: rgba(65, 36,86, 0.5);
  width: 30%;
  border-radius: 5px 15px;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: rgb(251, 201, 38);
}





article p {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}


#rhsCardBtm {
  height: 75%;
  width: 100%;
  background-color: rgba(251, 201, 38, 0.3);
}

.yornHeader {
  font-family: aviano-flare, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(65, 36, 86);
  text-align: center;
}

.yornHeader h6 {
  font-size: 16px;
}

.yornBody p {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  padding-left: 1.25%;
  padding-right: 1.25%;
  color: rgb(65, 36, 86);
}

hr {
  background-color: rgb(65, 36, 86);
   
}

#sampleYorN {
  display: flex;
  flex-direction: column;
}

#sampleYorN a {
  display: flex;
  justify-content: center;
}

#sampleYorNImg {
   width: 55%;
   
}

#sampleYorNText {
  text-align: center;
  font-family: futura-pt, sans-serif;
  font-weight: 200;
  font-style: oblique;
  color: rgb(65, 36, 86);
  font-size: 14px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
}

.yornCTA button {
  height: 70%;
  background: rgba(251, 201, 38, 0.25);
  border: thin solid rgb(65, 36, 86);
  border-radius: 10px 30px;
  font-family: aviano-flare, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  padding: 3px;
}

.yornCTA button img {
  width: 50%;
  
}

.yornCTA button a {
  color: rgb(65, 36, 86);
}

.yornCTA button:hover {
  box-shadow: 0px 0px 25px rgba(65, 36, 86, 0.95);
}


footer {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  min-width: 100vw;
  position: relative;
  bottom: 0;
  left: 0;
  height: 40px;
  margin-top: 3%;
  background-color: rgb(65, 36, 86);
  color: rgb(251, 201, 38, 0.5);
  box-shadow: 0px 0px 15px rgba(251, 201, 38, 0.25);
}

#mandatories {
  min-width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: baseline; 
  flex-wrap: nowrap;
}

.foot-col {
  padding-top: 10px;
  text-align: center;
}

#mandatories a {
  font-size: 14px;
  text-decoration: underline;

}



#mandatories p {
  font-size: 14px;
  
}

/* #a {
  width: 20%;
  text-align: center;
}

#b {
  width: 20%;
  text-align: center;
}
#c {
  width: 20%;
  text-align: center;
}

#d {
  width: 20%;
  text-align: center;
}
#e {
  width: 20%;
  text-align: center;
} */
