/*For Phones*/

html {
    font-size: 62.5%;
}

body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    display: block;
    max-width: 100vw;
   
}

body p {
  color: #412456;
  font-size: 1.2rem;
}

header {
  max-width: 100vw;
  background-color: #412456;
  box-shadow: 0px 0px 2rem rgba(251, 201, 38, 0.5);
}

.nav-link {
  font-family: aviano-flare, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(251, 201, 38, 0.5);
}

.navbar a {
  font-family: aviano-flare, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(251, 201, 38, 0.5);
}

body.hasHover .nav-link:hover {
  color:rgba(188, 131, 228, 0.3);
  
}

body.hasHover .navbar a:hover{
  color:rgba(188, 131, 228, 0.3);
}

.navbar-brand {
  width: 50%;
}

.navbar-brand img {
  width: 20%;
  height: 20%
}



.navbar-toggler {
  margin-right: 1.5rem;
}

main {
    max-width: 100vw;
}

/*Collapsed Card Styling*/

/* .card-header {
  background-color: #412456;
  border-color: rgba(251, 201, 38, 0.5);
  border-style: outset;
}

.card-header h5 {
  font-family: aviano-flare, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: rgba(251, 201, 38, 0.5);
  text-align: center;
}

.card-body {
  border-color: rgba(251, 201, 38, 0.5);
  border-style: outset;
  background-color: rgba(65,36,86,0.3);
} */


  

.dailyCardHeader h4 {
   font-family: aviano-flare, sans-serif;
   font-weight: 400;
   font-style: normal;
   text-align: center;
   
}

.dailyCardName h5 {
  font-family: aviano-flare, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.dailyCardImage {
  display: flex;
  justify-content: center;
}

/*Heading for How Does It Work Online & Chakra Buttons on desktops*/

.desktop {
  display: none;
}
/*How Does It Work*/


@media only screen and (min-device-width: 500px)
 and (orientation: landscape) {

  .navbar {
    width: 100vw;
  }
  
  header {
    width: 100vw;
  }

  .navbar-brand {
    
    width: 35%;
  }

  .navbar-brand img {
    max-width: 15%;
    max-height: 15%;
  }
}

@media only screen and (min-device-width: 992px) {
  #navbarContent {
   padding-left: 45%;
   }
  }

  @media only screen and (min-device-width: 1024px) and
  (max-device-width: 1366px) and (orientation: portrait) {

    .navbar-brand {
      margin-left: 5%;
      font-size: 1.8rem;
    }

    .navbar-brand img {
      min-width: 20%;
    }

    #navbarContent {
      padding-left: 15%;
    }

    .nav-link {
      font-size: 1.8rem;
    }
  }

  @media only screen and (min-device-width: 1024px) and
  (max-device-width: 1366px) and (orientation: landscape) {

    .navbar-brand {
      margin-left: 5%;
      font-size: 1.8rem;
    }

    .navbar-brand img {
      min-width: 20%;
    }

    #navbarContent {
      padding-left: 35%;
    }

    .nav-link {
      font-size: 1.8rem;
    }
  }

  @media only screen and (device-width: 1024px) and (device-height: 600px) and
(orientation: landscape) {
  .nav-link {
    font-size: 1.4rem;
  }

  .navbar-brand {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1280px) and (min-height: 800px) {
  #navbarContent {
    padding-left: 45%;
  }

  .nav-link {
    font-size: 1.8rem;
  }

  .navbar-brand {
    font-size: 1.8rem;
  }

  .navbar-brand img {
    min-width: 17.5%;
    margin-left: 2.5%;
  }

}

@media only screen and (min-width: 1920px) and (min-height: 1080px) {

  #navbarContent {
    padding-left: 45%;
  }

  .navbar-brand img {
    margin-left: 5%;
  }

  .nav-link {
    font-size: 2rem;
  }

  .navbar-brand {
    font-size: 2rem;
  }
}









/*rhs Panel Elements Styling*/
/*Focal Chakra*/



/* .yOrNtext {
    
    width: 100%;
    /* height: 70%; 
    padding-right: 1rem;
    padding-bottom: 1rem;
}


.yOrNSample {
    width: 50%;
    height: 100%;
}

#sampleYorN {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sampleYorN img {
  width: 100%;
  height: 80%;
}

#sampleYorNText {
  color: #412456;
  font-size: 1.2rem;
  line-height: 1rem;
  padding-top: 0.75rem;
  text-align: center;
} */

/*Footer*/

footer {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    min-width: 100vw !important;
    position: relative;
    bottom: 0 !important;
    left: 0;
    /* height: 50px; */
    margin: 0px;
    padding: 0px;
    padding-bottom: 1rem;
    margin-top: 0%;
    background-color: rgb(65, 36, 86);
    color: rgb(251, 201, 38, 0.5);
    box-shadow: 0px 0px 2rem rgba(251, 201, 38, 0.5);
  }
  
  footer hr {
    background-color: rgba(251, 201, 38, 0.5);
    margin-top: 0px;
    margin-bottom:0.75rem;
  }
  
  #mandatories {
    min-width: 100vw;
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 0.2rem; 
    display: flex;
    flex-direction:row;
    align-items: center; 
    flex-wrap: nowrap;
  }
  
  #copyRight {
    min-width: 100vw;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  #siteCreds {
    min-width: 100vw;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  .foot-col {
    flex-grow: 1;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }

  .foot-col p {
    color: rgba(251, 201, 38, 0.5);
    line-height: 0.75rem;
    font-size: 1.2rem;
  }

  .foot-col a {
    color: rgba(251, 201, 38, 0.5);
    text-decoration: underline;
    line-height: 0.75rem;
    font-size: 1.2rem;
  }
  
  #mandatories a {
    font-size: 0.9rem;
    text-decoration: underline;
  }
  
  #mandatories .btn {
    font-size: 1.2rem;
    padding-top: 0.3rem;
    color: rgba(251, 201, 38, 0.5);
    text-decoration: underline;
  }
  
  #mandatories p {
    font-size: 0.9rem;
  }

  .modal {
    
    border-color: rgba(251, 201, 38, 0.5);
    margin-top: 2rem;
    align-self: center;
     
  }

  .modal-header {
    color: rgba(251, 201, 38, 0.5);
    background-color: #412456;
    font-family: aviano-flare, sans-serif;
    font-weight: 400;
    font-style: normal;
    border: inset;
    border-color: rgba(251, 201, 38, 0.5);
  }

  .modal-body {
    background-color: rgba(65,36,86,0.3);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 50vh;
    overflow-y: auto;  
    border-left: inset;
    border-right: inset;
    border-color: rgba(251, 201, 38, 0.3);
  }

  .modal-footer {
    background-color: #412456;
    border: inset;
    border-color: rgba(251, 201, 38, 0.5)
  }

  .modal-footer > button {
    border: thin solid rgba(251, 201, 38, 0.5);
    border-radius: 1rem 3rem;
    width: 30%;
    color: rgba(251, 201, 38, 0.5);
    background-color: rgba(65,36,86,0.3);
  }
  
.modal-footer > button:hover {
    box-shadow: 0 0 2.5rem rgba(251, 201, 38, 0.5);
}

.modal h4 {
  color: rgb(65, 36, 86);
  font-weight: bold;
}

.modal li {
  color: rgb(65, 36, 86);
  font-size: 1.4rem;
}

.modal ol {
  padding-left: 1.2rem;
}

.modal ol > li {
  font-size: 1.1rem;
}

.modal a {
  color:rgba(65, 36, 86, 0.75);
  text-decoration: underline ;
}





/* 
@media only screen and (min-width: 699px)   {

    
    html {
      font-size: 70%;
    }
  
    main {
      height: 100vh;
    }

    .navbar-brand > img {
      width: 15%;
      height: 15%;
    margin-left: 15%;
    }

    
    #lhsPanel{
     width: 100%;
     display: flex;
     flex-direction: column;
     align-content: center;
   }
    
    #lhsCardTop {
      margin-top: 1rem;
      width: 100%;
   }
    
    #lhsCardBtm {
        width: 100%;
   }
    
    #centralPanel{
        width: 100%;
   }
    
    #headlineUSP{
        width: 100%;
        height:100%;
    }

    .centreCopy {
      width: 60%;
      margin-left: 20%;
      margin-top: 2%;
    }

    #testimonialCarousel{
        width: 100%;
    }

   


    #rhsPanel{
        
        width: 100%;
        display: flex;
        flex-direction: column;
       
    }
    
    #lhsCardMid{
        width: 100%;
    }
    
    #rhsCardBtm {
        width: 100%;
    }

   
    #dailyTarot {
      margin-left: 10%;
    }

    #dailyTarotBtn {
      width: 25%;
      height: 25%;
    }

    #hdiw {
      margin-left: 10%;
    }

    .hdiwImage > button {
      width: 25%;
      height: 25%;
    }

    #carousel {
      margin-left: 10%;
    }

    #chakra {
      margin-left: 10%;
    }

    .focalChakraImage > button {
      width: 25%;
      height: 25%;
    }

    #lpYesOrNo {
      margin-left: 10%;
    }

    .yOrNtext {
      width: 50%;
    }

    .yOrNtext p {
      padding-right: 1.5rem;
    }

    .yOrNCta {
      width: 25%;
      
    }

    .yOrNCta > button {
      width: 90%;
      height: 50%;
      
    }

    .yOrNSample {
      width: 25%;
      height: 75%;
    }
}  

@media only screen and (min-width: 992px){

  .navbar-nav {
    padding-left: 50%;
  }

  .card {
    margin-bottom: 10%;
  }

  #lpYesOrNo {
    margin-bottom: 10%;
  }

}


 @media only screen and (min-width: 1200px) 
 
 {

  .navbar-brand > img {
    width: 10%;
    height: 10%;
    margin-left: 10%;
  }

 .navbar-nav {
   width: 100%;
   padding-left: 65%;
 }

 
  #landing {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 100vw;
      min-height: 100vh;
      
  }

  .card {
    border: none;
    background: transparent;

  }

  .card-header {
    border: none;
    background: transparent;
  }

  .card-body {
    border: none;
    background: transparent;
  }

  .desktop {
    display: block;
  }

  .desktop h4 {
    font-family: aviano-flare, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(65, 36, 86);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  #lhsPanel{
        
        width: 25%;
        height: 95vh;  
        display: flex;
        justify-content: space-between;
     
    }
    
    #lhsCardTop {
        max-width: 100%;
        margin: 0;
        padding: 0;
        /* flex: 1 1 0; 
    }

    #dailyTarot {
      margin: 0;
      padding: 0;
    }

  

    #dailyTarot .card-header {
      visibility: hidden;
      height: 0;
      padding: 0;
    }

    .dTmImage {
      margin: 0;
      padding: 0;
    }

    #dailyTarotBtn {
      width: 50%;
      background-color: rgba(65, 36, 86, 0.5);
    }

    .dailyCardHeader p {
      font-weight: 700;
      text-align: normal;
      padding-right: 0;
    }

    .dailyCardImage img {
      width: 50%;
      height: auto;
    }

    .dailyCardMessage p {
      font-weight: 700;
    }
    
    #lhsCardBtm {
        max-width: 100%;
        /* height: auto; */
        /* flex: 1 2 0; 
       
        
    }

    #hdiw {
      margin: 0;
      padding: 0;
    }

    #hdiw .card-header {
      visibility: hidden;
      padding: 0;
      height: 0;
    }

   

    .hdiwImage {
      margin: 0;
      padding: 0;
    }

    .hdiwImage > button {
      width: 50%;
      background-color: rgba(65, 36, 86, 0.5) ;
    }
    
    #centralPanel{
     width: 50%;
       height: auto;
        display: flex;
        flex-direction: column;
        align-items: space-between;
    }
    
    #headlineUSP{
        width: 100%;
       height: auto;
        /* flex: 3 0 0; 
    }

    .centreCopy {
      margin: 0;
      width: 100%;
    }

    .centreCopy h2 {
      font-size: 2rem;
    }

    .centreCopy h3 {

      padding-top: 1rem;
      font-size: 1.8rem;
    }

    .centreCopy h4 {
      font-size: 1.5rem;
      padding-top: 0.5rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    } 
    
     .centreCopy h5 {
       padding: 0.5rem;
       font-size: 1.2rem;
     }
    
    #testimonialCarousel{
        width: 100%;
        height: auto;
        /* flex: 2 1 0; 
    }

    #carousel {
      width: 100%;
      margin-left: 0;
    }

    #carousel .card-header {
      visibility: hidden;
      height: 0;
      padding: 0;
    }

    .carousel {
      padding-top: 1rem;
    }

    .carousel p {
      font-size: 1.4rem;
      font-weight: 700;
      text-align: center;
    }
    
    #rhsPanel{
     width: 25%;
    height: 95vh;
    
        flex-direction: column; 
    
      }
    
 
    #chakra {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    #chakra .card-header {
      visibility: hidden;
      height: 0;
      padding: 0;
    }

    .focalChakraImage {
      margin: 0;
      padding: 0;
    }
    .focalChakraImage > button {
      width: 50%;
      background-color: rgba(65, 36, 86, 0.5);
      border-radius: 1rem 3rem;
    }

    .focalChakraImage > button > img {
      width: 90%;
     
    }

    #rhsCard {
        width: 100%;
        height: auto;
        /* flex: 3 0 0; 
    }

    #lpYesOrNo {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
    }
    #lpYesOrNo .card-header {
      visibility: hidden;
      height: 0;
      padding: 0;
    }

    #lpYesOrNo .card-header h5 {
      padding: 0;
      margin: 0;
      height: 0;
    }

    #lpYesOrNo .desktop h4 {
      padding-bottom: 0;
      /* padding-top: 1rem; 
     
    }

    #YorNCard {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }  

    .yOrNtext {
      width: 100%;
    }

    .yOrNtext p {
      font-weight: 700;
      margin: 0;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 0.25rem;
      text-align: center;
    }  

    .yOrNCta {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .yOrNCta > button {
      width: 50%;
      height: auto;
      padding: 1rem;
      background-color: rgba(65, 36, 86, 0.5);
    }

    .yOrNCta > button > img {
    width: 90%;
    height: 80%;
    
    }

    .yOrNSample {
      width: 100%;
      padding-top: 2rem;
      display: flex;
      align-items: center;
      
    }

    #sampleYorN {
      width: 100%;
    }

    #sampleYorN > a > img {
     /* margin-left: 25%; 
      width: 50%;
      height: auto;
      margin-left: 6rem;
    }

   #sampleYorNText {
      font-weight: 700;
    }


} 

@media only screen and (min-width: 1366px)
 {
  #sampleYorN > a > img {
    width: 45%;
    margin-left: 10rem;
  }

}

@media only screen and (min-width: 1440px) {

  /* html {
    font-size: 80%;
  } 

  .navbar-brand {
    font-size: 1.5rem;
  }

  .nav-link {
    font-size: 1.5rem;
  }


  .dailyCardImage img {
    width: 70%;
    height: auto;
  }



  #headlineUSP {
    flex: 2 0 0;
  }

  #testimonialCarousel {
    flex: 1 0 auto;
  }

  .centreCopy {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .centreCopy {
    padding-top: 1.5rem;
  }

  .centreCopy h4 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .centreCopy h5 {
    padding-top: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 1rem;
  }

  .desktop h4 {
    font-size: 1.4rem;
  }

  .focalChakraImage > button {
    width: 50%;
  }

  #dailyTarotBtn {
    width: 50%;
  }

  .hdiwImage > button {
    width: 50%;
  }

  .yOrNCta > button {
    width: 50%;
  }

   #sampleYorN > a > img {
    width: 35%;
    padding: 0;
     
  }

  .yOrNtext {
    font-size: 1.6rem;
  }

  #sampleYorN > a > p {
    padding-top: 2rem;
    font-size: 1.6rem;
  }

}

@media only screen and (min-width: 1680px){

html {
  font-size: 80%;
}  

.navbar-nav {
  padding-left: 60%;
}

.dailyCardImage img {
  width: 60%;
  height: auto;
}

.focalChakraImage > button {
  width: 40%;
}

#dailyTarotBtn {
  width: 40%;
}

.hdiwImage > button {
  width: 40%;
}

.yOrNCta > button {
  width: 40%;
}


#sampleYorN > a > img {
  width: 35%;

}

#headlineUSP {
  flex: 1 1 0;
}


#testimonialCarousel {
flex: 1 1 0;
}



}

@media only screen and (min-width: 1920px) {

  .dailyCardImage img {
    width: 60%;
    height: auto;
  }
}

@media only screen and (min-width: 2304px) {

  html {
    font-size: 100%;
  }

  .navbar-brand {
    font-size: 3rem;
  }

  .nav-link {
    font-size: 2.5rem;
  }

  .centreCopy {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .centreCopy h2 {
    font-size: 3.5rem;
  }

  .centreCopy h3 {
    font-size: 2.8rem;
  }

  .centreCopy h4 {
    font-size: 2.5rem;
  }

  .centreCopy h5 {
    font-size: 2.2rem;
  }

  .carousel p {
    font-size: 2.5rem;
  }

  .yOrNtext p {
    font-size: 1.8rem;
  }

  #sampleYorN > a > img {
    width: 60%;

  }


  
} */